* {
    margin: 0;
    padding: 0;
}

.imgLogo {
    width: 470px;
}

.color1 {
    background-color: #5A3FAF;
}

.color2 {
    background-color: #149b9b;
}

.sfondofixed {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("assets/img/wallpapers01.jpg");
    padding-top: 10rem;
}


.bdr-btm-white {
    border-bottom: 2pt solid white;
}

.bdr-top-violet {
    border-top: 2pt solid #5A3FAF;
}

.bdr-top-white {
    border-top: 2pt solid white;
}

.space-5 {
    height: 5rem;
}

.space-10 {
    height: 10rem;
}

.space-15 {
    height: 15rem;
}

.space-20 {
    height: 20rem;
}

.biancoTrasp {
    background-color: rgba(235, 235, 235, .5);
}

.fattura1 {
    font-weight: bold;
    color: green;
}

.fattura2 {
    font-weight: bold;
    color: rgb(145, 0, 0);
}

.sfondofixed2 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("assets/img/wallpapers02.jpg");
}

.LinkBold {
    text-decoration: none;
    font-weight: bold;
}

@media screen and (min-width: 577px) {
    .imgLogo {
        width: 570px;
}

    .sfondofixed2 {
        height: 100vh;
    }
}