<app-my-header></app-my-header>
<div class="sfondofixed">
    <div class="container border border-primary shadow-lg biancoTrasp">

        <div class="text-center p-5">
            <img src="assets/img/crmepicoders_logo4.svg" width="570px" alt="">
            <h3 class="m-5">Benvenuti sul CRM proprietario di Epicode School.</h3>
            <p>Seleziona una categoria specifica 👇🏻</p>
        </div>

        <div class="container text-center mb-5">
            <button type="button" class="btn btn-primary btn-lg mx-2 shadow-sm" [routerLink] = "['/listautenti']">Lista clienti</button>
            <button type="button" class="btn btn-info btn-lg mx-2 shadow-sm" *ngIf="userAdmin" [routerLink] = "['/inseriscicliente']">Inserisci nuovo cliente</button>
            <button type="button" class="btn btn-warning btn-lg mx-2 shadow-sm" *ngIf="userAdmin" [routerLink] = "['/inserimentoprovcom']">Inserisci comuni e province</button>
            <button type="button" class="btn btn-secondary btn-lg mx-2 shadow-sm" [routerLink] = "['/fatture']">Lista fatture</button>
        </div>

    </div>

    <div class="space-10"></div>

</div>

<app-my-footer></app-my-footer>