<div class="sfondofixed">
  <div class="container my-3 border shadow biancoTrasp">

    <div class="container text-center text-white py-3 my-4 color2">
      <h1>Elenco clienti</h1>
    </div>

    <div class="my-5 text-center">
      <button type="button" class="btn btn-success btn-lg mx-2" [routerLink]="['/inseriscicliente']"
        routerLinkActive='router-link-active'>Inserisci un nuovo cliente</button>

      <label for="ricercaCliente" class="mx-1">Ricerca cliente per: </label>
      <select name="tipologiaKey" [(ngModel)]="ricercaCliente.conditionList[0].key">
        <option value="{{item.key}}" *ngFor="let item of keySearch">{{item.label}}</option>
      </select>
      <input type="text" class="mx-1" [(ngModel)]="ricercaCliente.conditionList[0].value" name="ricercaCliente">
      <button type="button" class="btn btn-sm color1 mx-1 text-white" (click)="ricercaBy()">Effettua ricerca</button>
      <button type="button" class="btn btn-sm color2 mx-1 text-white" (click)="svuotaRicercaBy()">Svuota ricerca</button>
    </div>

    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ragione sociale</th>
          <th scope="col">Partita IVA</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nome contatto</th>
          <th scope="col">Cognome contatto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clients; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <th>{{ item.ragioneSociale }}</th>
          <td>{{ item.partitaIva}}</td>
          <td>{{ item.tipoCliente }}</td>
          <td>{{ item.nomeContatto}}</td>
          <td>{{ item.cognomeContatto }}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeClient(item)">Elimina</button>
            <button type="button" class="btn btn-primary btn-sm mx-2" (click)="selectClient(item)">Dettaglio</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="container float-start my-3" *ngIf="mostraBtn">
    <h5>Visualizza elementi per pagina:</h5>
    <button type="button" class="btn btn-light btn-sm mx-1" (click)="getClients20()">20</button>
    <button type="button" class="btn btn-light btn-sm mx-1" (click)="getClients100()">100</button>
    <button type="button" class="btn btn-light btn-sm mx-1" (click)="getAllClients()">Tutti</button>
  </div>

  <div class="space-15"></div>

</div>