<div class="sfondofixed">
  <div class="container my-3 border shadow biancoTrasp">

    <div class="container text-center text-white py-3 my-4 color2">
      <h1>Elenco clienti</h1>
    </div>

    <div class="my-5 text-center">
      <button type="button" class="btn btn-success btn-lg" [routerLink]="['/inseriscicliente']"
        routerLinkActive='router-link-active'>Inserisci un nuovo cliente</button>
    </div>

    <!-- <div class="input-group mb-5">
      <input type="search" class="form-control" name="filtraClienti" placeholder="Ricerca clienti per parametro...">
    </div> -->

    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ragione sociale</th>
          <th scope="col">Partita IVA</th>
          <th scope="col">Tipo</th>
          <th scope="col">Nome contatto</th>
          <th scope="col">Cognome contatto</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of clients; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <th>{{ item.ragioneSociale }}</th>
          <td>{{ item.partitaIva}}</td>
          <td>{{ item.tipoCliente }}</td>
          <td>{{ item.nomeContatto}}</td>
          <td>{{ item.cognomeContatto }}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeClient(item)">Elimina</button>
            <button type="button" class="btn btn-primary btn-sm mx-2" (click)="selectClient(item)">Dettaglio</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="container">

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshClients()">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshClients()">
        <option [ngValue]="20">20 clienti per pagina</option>
        <option [ngValue]="50">50 clienti per pagina</option>
        <option [ngValue]="100">100 clienti per pagina</option>
        <option [ngValue]="1000">Tutti i clienti</option>
      </select>
    </div>

  </div>



</div>